<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>NavbarFilter</filter-name>
        <filter-class>com.eword.filters.NavbarFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoggedoutFilter</filter-name>
        <filter-class>com.eword.filters.LoggedoutFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoggedinFilter</filter-name>
        <filter-class>com.eword.filters.LoggedinFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NavbarFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggedoutFilter</filter-name>
        <url-pattern>/lists</url-pattern>
        <url-pattern>/lists/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggedinFilter</filter-name>
        <url-pattern>/signup</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DisplayWordlists</servlet-name>
        <servlet-class>com.eword.servlets.DisplayWordlists</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayWordlist</servlet-name>
        <servlet-class>com.eword.servlets.DisplayWordlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.eword.servlets.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error404</servlet-name>
        <servlet-class>com.eword.servlets.Error404</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>com.eword.servlets.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LanguageSelection</servlet-name>
        <servlet-class>com.eword.servlets.LanguageSelection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>com.eword.servlets.Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signout</servlet-name>
        <servlet-class>com.eword.servlets.Signout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayWordlists</servlet-name>
        <url-pattern>/lists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayWordlist</servlet-name>
        <url-pattern>/lists/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error404</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LanguageSelection</servlet-name>
        <url-pattern>/lang/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signout</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404_redirect.jsp</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/inc/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>
