body{
    font-family: 'Source Sans Pro', 'Calibri', sans-serif;
}

/** Navbar **/

/*Navbar background*/
.navbar-default
{
    background : #1582c2;
    border: none;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav >li > a:focus
{
    color: white;
    background : #1582c2;
    font-size: 20px;
    font-weight: bold;
}

/*Navbar items*/
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active a
{
    background: white;
    color: #1582c2;
}

.navbar-default .navbar-nav li #signup
{
    background: #ED5565;
    color: white;
}

.navbar-default .navbar-nav li #signup:hover,
.navbar-default .navbar-nav li #signup.active
{
    background: white;
    color: #ED5565;
}

.picture_membership_navbar
{
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-color: #ececec;
    display: inline-block;
    background-size: cover;
    background-position: center;
}

.username_membership_navbar
{
    float: right;
    padding-top: 12px;
}

@media screen and (max-width: 767px)
{
    .username_membership_navbar
    {
        position: absolute;
    }
}

.membership_navbar .dropdown-toggle
{
    padding: 4px 3px 3px 15px;
}

/*Dropdown Menu*/
.dropdown-menu{
    background: white;
    border: 1px solid #1582c2;
    padding: 0px;
    color: #696969;
}

.dropdown-menu li a
{
    color: #696969;
}

.signin_form_navbar .dropdown-menu
{
    padding: 15px;
    min-width: 250px;
}

@media screen and (max-width: 767px)
{
    #signin_feedback.text-danger,
    #signin_feedback.text-success,
    .navbar-default .navbar-nav .open.signin_form_navbar .dropdown-menu > li,
    .navbar-default .navbar-nav .open.language_picker_navbar .dropdown-menu > li > a,
    .navbar-default .navbar-nav .open.membership_navbar .dropdown-menu > li > a
    {
        color: white;
    }

    .navbar-default .navbar-nav .open.language_picker_navbar .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav .open.language_picker_navbar .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open.membership_navbar .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav .open.membership_navbar .dropdown-menu > li > a:hover
    {
        color: #1582c2;
        background: white;
    }
}

@media screen and (min-width: 768px) {

    .dropdown-menu:before
    {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-width: 0 8px 8px;
        border-style: none solid solid;
        border-color: transparent transparent #1582c2;
        right: 0;
        z-index: 3;
    }

    .signin_form_navbar .dropdown-menu:before
    {
        margin-right: 42px;
        margin-top: -23px;
    }

    .language_picker_navbar .dropdown-menu:before
    {
        margin-right: 27px;
        margin-top: -9px;
    }

    .membership_navbar .dropdown-menu:before
    {
        margin-right: 60px;
        margin-top: -9px;
    }
}



/** Header **/

header{
    height: 100px;
    background: #00bdf2;
    margin-top: -20px;
}

.header_title
{
    color: white;
    font-family: 'American Captain';
    font-size: 48px;
    margin-top: 15px;
    z-index: 2;
}

.header_image
{
    background: url('../img/bb8.png');
    width: 123px;
    height: 72px;
    margin-top: 28px;
    margin-left: -100px;
    z-index: 1;
}

/**  Content **/

.content{
    margin-bottom: 50px;
}

.quote_text
{
    font-size: 24px;
    font-family: 'Pacifico';
    color: #656565;
    margin-top: 15px;
    text-align: center;
}

.quote_text:before
{
    content: url('../img/open-quote.png');
    width: 38px;
    height: 30px;
    position: relative;
    bottom: 10px;
    right: 10px;
}

.quote_text:after
{
    content: url('../img/close-quote.png');
    width: 38px;
    height: 30px;
    position: relative;
    top: 10px;
    left: 10px;
}

.quote_author
{
    color: #656565;
    font-family: 'Neris Thin';
    font-size: 14px;
    float: right;
}

.quote_separator hr
{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.home_list_right
{
    text-align: right;
}

h2
{
    margin-bottom: 35px;
    color: #1582c2
}

/** Forms **/

#signin_form
{
    text-transform: none;
}

#signin_form .checkbox label
{
    padding-left: 20px;
    top: -5px;
    margin-bottom: 0px;
}

.form-group.has-error
{
    margin-bottom: 0px;
}

.password-progress {
    margin-top: 10px;
    margin-bottom: 0;
}

.password-progress.progress {
    margin-bottom: 0;
}

.has-success .add-on.input-group-addon{
    background-color: #dff0d8;
}

.has-error .add-on.input-group-addon
{
    background-color: #f2dede;
}

.unmask_password
{
    cursor : pointer;
}

.loading
{
    background: url('../img/loader.gif') no-repeat center;
}

.img_form
{
    text-align: center;
}

.img_box
{
    position: relative;
    display: inline-block;
}

.img_box img
{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.img_box:hover img
{
    opacity: 0.5;
}

.img_overlay
{
    transition: 0.5s linear;
}

.img_box:hover
{
    cursor: pointer;
}

.img_box:hover .img_overlay
{
    background: rgba(21, 130, 194, 0.35);
    width: 100%;
    height: 100%;
}

.edit_icon
{
    display: none;
    z-index: 1;
}

.img_box:hover .edit_icon
{
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    color: white;
    transform: translateY(-50%) translateX(-50%);
    font-size: 2em;
}

.img_overlay_loading
{
    background: url('../img/loader.gif') no-repeat center;
    width: 16px;
    height: 16px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    z-index:1;
    display: none;
}

.img_uploader
{
    visibility: hidden;
    height: 0;
}

.img_box_user_account
{
    width: 150px;
    height: 150px;
}

.account_username
{
    font-size: 25px;
    word-break: break-all;
}

.account_edit_value
{
    cursor: pointer;
}

.account_edit_value i
{
    opacity: 0;
}

.account_edit_value:hover i
{
    opacity: 1;
}

/** Footer **/

footer
{
    background: black;
    color: white;
    text-align: center;
}